@font-face {
  font-family: JosefinSans-reg;
  font-weight: 400;

  src: url('../assets/fonts/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: JosefinSans-bold;
  font-weight: 700;
  src: url('../assets/fonts/JosefinSans-Bold.ttf');
}

:root {
  --darkM-bg: hsl(207, 26%, 17%);
  --darkM-elements: hsl(209, 23%, 22%);
  --lightM-text: hsl(200, 15%, 8%);
  --lightM-input: hsl(0, 0%, 52%);
  --lightM-bg: hsl(0, 0%, 91%);
  --White: hsl(0, 0%, 100%);
  --White-opac05: rgba(255,255,255,0.5);
  --Black: black;
  --Black-opac05: rgba(0,0,0,0.5);

  /* --font-light: NunitoSans-light; */
  --font-reg: JosefinSans-reg;
  --font-bold: JosefinSans-bold;

  --color-bg: var(--darkM-bg);
  --color-elements: var(--darkM-elements);
  --color-text: var(--White);
  --color-text-opac-0-5: var(var(--White-opac05))
}

/* semantic color variables for this project */


body.lightMode {
  --color-bg: var(--lightM-bg);
  --color-elements: var(--White);
  --color-text: var(--Black);
  --color-text-opac-0-5: var(var(--Black-opac05))
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

/** 
  ------------- base Styles ------------- 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: NunitoSans-light;
  color: var(--color-text);
  background: var(--color-bg);
}


button,
textarea,
select,
input {
  font: inherit;
  color: var(--color-text);
}

button{
  cursor: pointer;
}
button:hover, button:focus{
  opacity: 0.75;
}
img {
  max-width: 100%;
}

h1 {
  /* margin: 0; */
  /* padding: 0.67em; */
  /* text-align: center; */
  /* font-size: 2rem; */
  font-family: var(--font-bold);
}
